<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/search_styles.css">
</head>
<body>
    <!-- For loop which for now only prints the top 10 results if there are that many -->
    <h1>Searching for "{{name}}"</h1>
    {% for num in range(0, 10): %}
        {% if results|length > num: %}
        <h1>
            <anime_title> {{results[num]['Title']}} </anime_title>
            <img src="{{pics[num]}}" height="150" width="150">
        </h1>
        <h2>{{results[num]["Description"], results[num]["EpisodeCount"] }}</h2>
        {% endif %}
    {% endfor %}
</body>
</html>